<div id="header">
	<div id="logo">
		<h1><a href="#">Web<span>Template</span></a></h1>
	</div>
	<div id="nav">
		<ul>
			<li class="first active">
				<a href="index.html">Home</a>
			</li>
			<li>
				<a href="services.html">Services</a>
			</li>
			<li>
				<a href="clients.html">Clients</a>
			</li>
			<li class="last">
				<a href="contact.html">Contact</a>
			</li>
		</ul>
		<br class="clear" />
	</div>
</div>